:root {
  --shadow: 0 0.6rem 1rem rgba(194, 212, 247, 0.84);

  --color-input-border: rgba(207, 210, 227, 1);

  --color-button: rgba(77, 123, 243, 1);
  --color-button-border: rgba(98, 127, 205, 1);
  --color-grey-1: rgba(149, 149, 149, 1);

  --color-error: rgba(231, 143, 160, 1);
}

$color-bg: white;

* {
  margin: 0;
  padding: 0;
  // outline: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: 'Libre Franklin', sans-serif;
  min-height: 100vh;
}
