@use 'base';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 100vh;

  &__logo {
    margin-top: 8.6rem;

    @media only screen and (max-width: base.$bp-small) {
      margin-top: 8.5rem;
      margin-left: 0.3rem;
    }
    img {
      @media only screen and (max-width: base.$bp-small) {
        width: 5.3rem;
        height: auto;
      }
    }
  }

  &__hero-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__announcement {
      margin-top: 4.4rem;
      font-size: 4.8rem;
      font-weight: 300;
      letter-spacing: 0.02rem;
      color: var(--color-grey-1);

      @media only screen and (max-width: base.$bp-small) {
        margin-top: 3.6rem;
        font-size: 2.17rem;
        letter-spacing: 0rem;
      }

      span {
        font-weight: 700;
        color: black;
      }
    }

    &__cta {
      margin-top: 1.6rem;
      font-size: 2rem;
      font-weight: 300;

      @media only screen and (max-width: base.$bp-small) {
        margin-top: 1.7rem;
        font-size: 1.2rem;
      }
    }

    &__form {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-top: 4rem;
      width: 63.7rem;

      @media only screen and (max-width: base.$bp-small) {
        flex-direction: column;
        width: 28rem;
        margin-top: 3.2rem;
      }

      &__input {
        width: 42.1rem;
        height: 5.6rem;

        outline: none;
        border-radius: 2.8rem;
        border: 1px solid var(--color-input-border);

        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.02rem;

        margin-right: auto;
        padding: 0 3rem 0 3rem;

        @media only screen and (max-width: base.$bp-small) {
          width: 100%;
          height: 4rem;
          border-radius: 2rem;

          font-size: 1.2rem;
          padding: 0 3.2rem 0 3.2rem;
        }

        &::placeholder {
          color: var(--color-input-border);
        }

        &.error {
          border-color: var(--color-error);
        }
      }

      &__button {
        width: 20rem;
        height: 5.6rem;
        background-color: var(--color-button);
        outline: none;
        border-radius: 2.8rem;
        border: 1px solid var(--color-button-border);
        color: white;
        font-size: 1.7rem;
        font-weight: 300;
        box-shadow: var(--shadow);

        @media only screen and (max-width: base.$bp-small) {
          margin-top: 1rem;
          width: 100%;
          height: 4rem;
          border-radius: 2rem;

          font-size: 1.2rem;
          font-weight: 600;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__message-error {
      position: absolute;
      bottom: -2.3rem;
      left: 3rem;
      font-style: italic;
      font-weight: 300;
      font-size: 1.2rem;
      color: var(--color-error);
    }
  }

  &__hero-image-container {
    margin-top: 8.8rem;

    @media only screen and (max-width: base.$bp-small) {
      margin-top: 6.8rem;
    }

    &__image {
      width: 63.7rem;
      height: auto;

      @media only screen and (max-width: base.$bp-small) {
        width: 32rem;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 7rem;

    @media only screen and (max-width: base.$bp-small) {
      margin-top: 11.8rem;
    }

    &__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 3.1rem;
      height: 3.1rem;
      border: 1px solid var(--color-input-border);
      border-radius: 1.6rem;
      margin-left: 1.3rem;

      &:hover {
        cursor: pointer;
        background-color: var(--color-button);
        border-color: var(--color-button-border);

        img {
          filter: brightness(0) saturate(100%) invert(84%) sepia(89%)
            saturate(2657%) hue-rotate(205deg) brightness(132%) contrast(112%);
        }
      }
    }

    &__icon.first {
      margin-left: 0rem;
    }
  }

  &__copyright {
    font-size: 1.2rem;
    color: var(--color-grey-1);

    margin-top: 2.4rem;

    @media only screen and (max-width: base.$bp-small) {
      font-size: 1rem;
      margin-top: 2.7rem;
    }
  }
}
